{% extends 'notes/admin_nav.html'%}
{% load static%}
{% block body%}

{% if error == "no" %}
<script>
    alert("Status Assigned Successfully")
    window.location=('{% url 'pending_notes' %}')
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("Something Went wrong please try again")
</script>
{% endif %}



<h2 style="text-align: center;">ASSIGN STATUS</h2>
<hr>
<div class="container">
<form method="post">
   {% csrf_token %}
   <label for="notesid">Notes ID</label>
   <input type="text" id="notesid" value="{{notes.id}}" class="form-control" readonly>
   <label for="status">Status</label>
   <select name="status" id="status" class="form-control">
    <option>---assign status---</option>
    <option value="accepted">Accepted</option>
    <option value="rejected">Rejected</option>
   </select>
   <input type="submit" class="btn btn-success mt-2 form-control" value="Submit" >
</form>
</div>
{% endblock %}