{% extends 'notes/usernavigation.html'%}
{% load static%}
{% block head%}
<style>
    input[type=text]{
        background-color:whitesmoke;
    }
    label{
        color:white;
        margin-top: 5px;
    }
</style>
{% endblock %}
{% block body%}

{% if error == "no" %}
<script>
    alert('Password Changed Successfully')
    window.location=('{% url 'userlogout' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('something went wrong ...pls try again')
</script>
{% endif %}


<div class="container-fluid mt-4 mb-2" style="background-color:whitesmoke;">
    {% comment %} <h2  style="font-family: 'Monotype Corsiva'; padding-left: 227px;">REGISTER WITH US</h2> {% endcomment %}
    <div class="row">
        <div class="col-sm-4 offset-sm-2" style="padding-right: 0px;">
            <img src="{% static 'images/changepassword.jpg' %}" alt="" style="width:100%; height:335px;">
        </div>
        <div class="col-sm-4" style="background-color:#8c4599;">
            <h4 style="font-family:'Monotype Corsiva'; text-align: center; color: white;" class="mt-2">CHANGE PASSWORD</h4>
            <form method="post">
                {% csrf_token %}
                <label for="firstname">Old Password:</label>
                <input type="text" id="firstname" placeholder="Enter old password" class="form-control" name="oldpwd">
                <label for="lastname">New Password:</label>
                <input type="text" id="lastname" placeholder="Enter new password"class="form-control"name="newpwd">
                <label for="contact">Confirm New Password:</label>
                <input type="text" id="contact" placeholder="Re-enter new password" class="form-control"name="confirm">
                
                <center><input type="submit" class="btn btn-primary mt-2" value="SUBMIT"></center>
            </form>
        </div>
    </div>
</div>
{% endblock %}